repos:
- hooks:
  - id: commitizen
    stages:
    - commit-msg
  repo: https://github.com/commitizen-tools/commitizen
  rev: v2.20.0
- hooks:
  - id: black
    language_version: python3.9
  repo: https://github.com/ambv/black
  rev: 21.12b0
# - repo: https://github.com/pre-commit/mirrors-mypy
#   rev: v0.910-1
#   hooks:
#     - id: mypy